CTMF_Desktop_App/Service References/ServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthSoapHeader" type="tns:AuthSoapHeader" />
      <s:complexType name="AuthSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="authString" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="getUpdatedFingerPrint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="image" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="fingerPosition" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lastUpdatedFingerPrint" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="ignoreSyncID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUpdatedFingerPrintResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getUpdatedFingerPrintResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewSyncData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="toDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="oldSyncID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewSyncDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewSyncDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSync">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="syncID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSyncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteSyncResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestXmlFileName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="syncID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isExcludeCurrent" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestXmlFileNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestXmlFileNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLastSyncAndInactiveFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="syncDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="fileNameList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="syncID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLastSyncAndInactiveFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="RequestSync">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="syncID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filenames" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestSyncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestSyncResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAccountSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccount" />
  </wsdl:message>
  <wsdl:message name="GetAccountSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountAuthSoapHeader">
    <wsdl:part name="AuthSoapHeader" element="tns:AuthSoapHeader" />
  </wsdl:message>
  <wsdl:message name="getUpdatedFingerPrintSoapIn">
    <wsdl:part name="parameters" element="tns:getUpdatedFingerPrint" />
  </wsdl:message>
  <wsdl:message name="getUpdatedFingerPrintSoapOut">
    <wsdl:part name="parameters" element="tns:getUpdatedFingerPrintResponse" />
  </wsdl:message>
  <wsdl:message name="getUpdatedFingerPrintAuthSoapHeader">
    <wsdl:part name="AuthSoapHeader" element="tns:AuthSoapHeader" />
  </wsdl:message>
  <wsdl:message name="NewSyncDataSoapIn">
    <wsdl:part name="parameters" element="tns:NewSyncData" />
  </wsdl:message>
  <wsdl:message name="NewSyncDataSoapOut">
    <wsdl:part name="parameters" element="tns:NewSyncDataResponse" />
  </wsdl:message>
  <wsdl:message name="NewSyncDataAuthSoapHeader">
    <wsdl:part name="AuthSoapHeader" element="tns:AuthSoapHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteSyncSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSync" />
  </wsdl:message>
  <wsdl:message name="DeleteSyncSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSyncResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSyncAuthSoapHeader">
    <wsdl:part name="AuthSoapHeader" element="tns:AuthSoapHeader" />
  </wsdl:message>
  <wsdl:message name="RequestXmlFileNameSoapIn">
    <wsdl:part name="parameters" element="tns:RequestXmlFileName" />
  </wsdl:message>
  <wsdl:message name="RequestXmlFileNameSoapOut">
    <wsdl:part name="parameters" element="tns:RequestXmlFileNameResponse" />
  </wsdl:message>
  <wsdl:message name="RequestXmlFileNameAuthSoapHeader">
    <wsdl:part name="AuthSoapHeader" element="tns:AuthSoapHeader" />
  </wsdl:message>
  <wsdl:message name="SetLastSyncAndInactiveFileSoapIn">
    <wsdl:part name="parameters" element="tns:SetLastSyncAndInactiveFile" />
  </wsdl:message>
  <wsdl:message name="SetLastSyncAndInactiveFileSoapOut">
    <wsdl:part name="parameters" element="tns:SetLastSyncAndInactiveFileResponse" />
  </wsdl:message>
  <wsdl:message name="SetLastSyncAndInactiveFileAuthSoapHeader">
    <wsdl:part name="AuthSoapHeader" element="tns:AuthSoapHeader" />
  </wsdl:message>
  <wsdl:message name="RequestSyncSoapIn">
    <wsdl:part name="parameters" element="tns:RequestSync" />
  </wsdl:message>
  <wsdl:message name="RequestSyncSoapOut">
    <wsdl:part name="parameters" element="tns:RequestSyncResponse" />
  </wsdl:message>
  <wsdl:message name="RequestSyncAuthSoapHeader">
    <wsdl:part name="AuthSoapHeader" element="tns:AuthSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetAccount">
      <wsdl:input message="tns:GetAccountSoapIn" />
      <wsdl:output message="tns:GetAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUpdatedFingerPrint">
      <wsdl:input message="tns:getUpdatedFingerPrintSoapIn" />
      <wsdl:output message="tns:getUpdatedFingerPrintSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewSyncData">
      <wsdl:input message="tns:NewSyncDataSoapIn" />
      <wsdl:output message="tns:NewSyncDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSync">
      <wsdl:input message="tns:DeleteSyncSoapIn" />
      <wsdl:output message="tns:DeleteSyncSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestXmlFileName">
      <wsdl:input message="tns:RequestXmlFileNameSoapIn" />
      <wsdl:output message="tns:RequestXmlFileNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetLastSyncAndInactiveFile">
      <wsdl:input message="tns:SetLastSyncAndInactiveFileSoapIn" />
      <wsdl:output message="tns:SetLastSyncAndInactiveFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestSync">
      <wsdl:input message="tns:RequestSyncSoapIn" />
      <wsdl:output message="tns:RequestSyncSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccount">
      <soap:operation soapAction="http://tempuri.org/GetAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAccountAuthSoapHeader" part="AuthSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUpdatedFingerPrint">
      <soap:operation soapAction="http://tempuri.org/getUpdatedFingerPrint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getUpdatedFingerPrintAuthSoapHeader" part="AuthSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewSyncData">
      <soap:operation soapAction="http://tempuri.org/NewSyncData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:NewSyncDataAuthSoapHeader" part="AuthSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSync">
      <soap:operation soapAction="http://tempuri.org/DeleteSync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteSyncAuthSoapHeader" part="AuthSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestXmlFileName">
      <soap:operation soapAction="http://tempuri.org/RequestXmlFileName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestXmlFileNameAuthSoapHeader" part="AuthSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLastSyncAndInactiveFile">
      <soap:operation soapAction="http://tempuri.org/SetLastSyncAndInactiveFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetLastSyncAndInactiveFileAuthSoapHeader" part="AuthSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSync">
      <soap:operation soapAction="http://tempuri.org/RequestSync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestSyncAuthSoapHeader" part="AuthSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccount">
      <soap12:operation soapAction="http://tempuri.org/GetAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetAccountAuthSoapHeader" part="AuthSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUpdatedFingerPrint">
      <soap12:operation soapAction="http://tempuri.org/getUpdatedFingerPrint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getUpdatedFingerPrintAuthSoapHeader" part="AuthSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewSyncData">
      <soap12:operation soapAction="http://tempuri.org/NewSyncData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:NewSyncDataAuthSoapHeader" part="AuthSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSync">
      <soap12:operation soapAction="http://tempuri.org/DeleteSync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteSyncAuthSoapHeader" part="AuthSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestXmlFileName">
      <soap12:operation soapAction="http://tempuri.org/RequestXmlFileName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RequestXmlFileNameAuthSoapHeader" part="AuthSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLastSyncAndInactiveFile">
      <soap12:operation soapAction="http://tempuri.org/SetLastSyncAndInactiveFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetLastSyncAndInactiveFileAuthSoapHeader" part="AuthSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSync">
      <soap12:operation soapAction="http://tempuri.org/RequestSync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RequestSyncAuthSoapHeader" part="AuthSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://169.254.75.21/ctmf/Webservice/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://169.254.75.21/ctmf/Webservice/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>